<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Hey! Welcome to my super cool API. Everything you ever wanted to know about me is in here.</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>CRUD My Virtual Studio Tech API!</h3>
          <h4>Submit a New VST</h4>
          <form action="/api/vsts" method="POST">
            <label for="title">Title: </label>
            <input id="title" type="text" placeholder="Steven Slate Drums" name="title">
            <label for="dev">Developer: </label>
            <input id="dev" type="text" placeholder="Steven Slate" name="dev">
            <label for="function">VST Function: </label>
            <input id="function" type="text" placeholder="Physical (Drum) Modeling" name="function">
            <input type="submit">
          </form>
          <h4>Or, update a VST already in the database!</h4>
          <form action="/api/vsts?_method=PUT" method="POST">
            <label for="titley">Title: </label>
            <input id="titley" type="text" placeholder="Steven Slate Drums" name="title">
            <label for="devy">Developer: </label>
            <input id="devy" type="text" placeholder="Steven Slate" name="dev">
            <label for="functiony">VST Function: </label>
            <input id="functiony" type="text" placeholder="Physical (Drum) Modeling" name="function">
            <input type="hidden" name="_METHOD" value="PUT"/>
            <input type="submit">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul>
            <li>The CRUDable VST API is located at https://thawing-dawn-25787.herokuapp.com/api/vsts/</li>
            <li>You can use the above forms to POST and PUT items.
            <li>In Postman, you can DELETE a VST at https://thawing-dawn-25787.herokuapp.com/api/vsts/:id</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
